@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  @media (max-width: 576px) {
    background-color: grey;
  }
  @media (min-width: 577px) and (max-width: 768px) {
    background-color: grey;
  }
  @media (min-width: 769px) {
    background-color: grey;
  }
}

h1 {
  color: rgb(110, 7, 7);
  margin: 20px;
  text-align: center;
}

h2 {
  color: rgb(172, 26, 0);
  text-align: center;
}

h3 {
  text-decoration: underline;
}